
body{
    padding: 0;
    margin: 0;
    background-size: cover;
}

.container{
    display: flex;
}

.home{
    padding: 5px;
    height: 100vh;
    width: 100%;
    background: url("img/test\ lagi\ buat\ web.jpg");
    /* min-height: 100%; */
    background-size: cover;
    animation: fade-in 2s;
}

#about{
    padding: 5px;
    height: 850px;
    width: 100%;
    background: white;
    /* min-height: 100%; */
    background-size: cover;
    animation: fade-in 2s;
}

#nama{
    font-size: 50px;
    top: 70px;
    font-family: 'Poppins', sans-serif;
    padding-left: 50px; 
    position: absolute;
}

#NPM{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;;
    font-style: Book;
    position: absolute;
    top: 155px;
    padding-left: 49px; 
}

#quote{
    font-size: 30px;
    padding-left: 50px;
    position: absolute;
    top: 200px;
    font-family: Helvetica;
}

#welcome{
    font-size: 30px;
    padding-left: 50px;
    position: absolute;
    top: 645px;
    font-family: Helvetica;
}

#downarrow{
    font-size: 50px;
    padding-left: 625px;
    position: absolute;
    top: 605px;
    font-family: Helvetica;
}

#image2{ 
    top: 1030px;
    width: 600px;
    height: 400px;
    left: 80px;
    transform: rotate(-90deg);
    position: absolute;
    -webkit-box-shadow: -3px 3px 6px 5px rgba(92,92,92,0.68);
    -moz-box-shadow: -3px 3px 6px 5px rgba(92,92,92,0.68);
    box-shadow: -3px 3px 6px 5px rgba(92,92,92,0.68);
}

#aboutme{
    font-size: 40px;
    padding-left: 750px;
    position: absolute;
    top: 875px;
    font-family: 'Poppins', sans-serif;
}

#cerita{
    font-size: 25px;
    text-align: justify;
    padding-left: 750px;
    position: absolute;
    width: 480px;
    top: 950px;
    font-family: 'Poppins', sans-serif;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes from-right{
    from {
        right: 20%;
    }
    to {
        right: 0;
    }
}
